<div class="container">
    <form id="contacto">
        <legend>Contacto</legend>
        <hr>
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Apellidos">
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="mb-3">
            <textarea class="form-control" placeholder="Escriba su mensaje"></textarea>
        </div>
        <button type="submit" class="btn">Enviar</button>
        <hr>
    </form>

</div>
