<div class="row mt-2">
    <div class="col-md-12 text-center m-4"><h2>Sevilla, nuestra sede</h2><hr></div>
    <div class="col-md-5 texto">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quisquam exercitationem ab corporis impedit
            mollitia ipsa. Voluptates a, odit accusamus voluptas in exercitationem recusandae? Totam sit deleniti
            asperiores provident quas?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quisquam exercitationem ab corporis impedit
            mollitia ipsa. Voluptates a, odit accusamus voluptas in exercitationem recusandae? Totam sit deleniti
            asperiores provident quas?</p>
    </div>
    <div class="col-md-7 text-center">
        <img src="../../../assets/img/giralda.jpg" alt="">
    </div>
</div>