<footer>

    <section id="infoFooter">
        <div class="container mt-5 pt-3">

            <div class="row mt-2 text-center">

                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h5 class="fw-bold">
                        Sobre nosotros
                    </h5>
                    <p class="text-secondary">Tienda de ropa andaluza con marcado acento sevillano</p>
                    <p>+34 600 11 22 33</p>
                </div>

                <div id="links" class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h5 class="fw-bold">Mapa del sitio</h5>
                    <p class="text-secondary"><a [routerLink]="['']">Inicio</a></p>
                    <p class="text-secondary"><a [routerLink]="['nosotros']">Nosotros</a></p>
                    <p class="text-secondary"><a [routerLink]="['contacto']">Contacto</a></p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <h5 class="fw-bold">Newsletter</h5>
                    <p class="text-secondary">Sigue nuestras noticias e inscríbete a nuestro boletín para recibir las nuevas novedades en prendas andaluzas</p>
                    <div class="input-group">
                        <input type="search" class="form-control" />
                        <button type="button" class="btn">
                            Subscribe
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <div class="col-12">
        <div id="copyright" class="d-flex justify-content-center pt-2">
            <p>&copy; Sevilla 2022</p>
        </div>
    </div>
</footer>